body {
    background-color: rgb(49, 49, 49);
    overflow: hidden;
    margin: 0;
}

.Socials {
    display: flex;
    gap: 2px;
}

#black-bar {
    box-shadow: 5px 5px 52px 10px;
    border-color: black;
    border-width: 2.5em;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

#Insta {
    scale: 30%;
    margin-top: -55px;
    margin-left: -3.5em;

}

#Owen {
    width: 250px;
    margin-left: -35px;
    margin-top: -10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 5px 6px 52px 10px white;

}

#MainHead {
    color: white;
    border: solid 4px;
    width: 179px;
    text-align: center;
    box-shadow: 5px 5px 52px 10px white;
}

#Socials {
    color: white;
    margin-top: 1px;
    width: 50px;
}

#instagram {
    display: flex;
    width: 100px;
    height: 50px;
}

#Npillr {
    width: 100px;
    margin-left: 45%;
    margin-top: -6%;
}

#contactemail {
    width: 20%;
    height: 2%;
    margin-top: -210px;
}

#gmail-logo {
    scale: 30%;
    margin-left: -80px;
    margin-top: -4em;
}

#Current {
    height: 300px;
    width: 450px;
    margin-top: 22.5em;
}

#ICWO {
    color: white;
    margin-top: -3em;
}

#CWOI {
    width: 23em;
    height: 25.55em;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(141, 141, 141);
    box-shadow: 5px 6px 52px 10px rgb(141, 141, 141);
}

#YouTube {
    width: 200px;
    height: 35px;
    margin-top: -34.5em;
}

#YT {
    color: skyblue;
    width: 1px;
    height: auto;
    margin-top: 5px;
}

#YTlogo {
    height: 95%;
    width: 40px;
}