body {
    background-color: black;
}
#Insta{
    scale: 25%;
    margin: auto;
    
}
#Owen{
    width: 250px;
    margin-left: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 5px 6px 52px 10px  white;
    
}

#MainHead {
    color: white;
    border: solid 4px;
    width: 179px;
    text-align: center;
    margin: 20px auto; 
    box-shadow: 5px 5px 52px 10px  white;
}
#Socials{
    color: white;
    margin-top: 1px;
}

a{
    color: skyblue;
}
