html,
body {
    background-color: rgb(49, 49, 49);
    display: flex;
    margin: 0;
    position: relative;
    flex-direction: column;
}
::-webkit-scrollbar { /*Hides Scrollbar but keeps function*/
    display: none;
}
header {
    width: 100px;
    margin-left: 45%;
    margin-top: 1em;
}

main {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction:  column;
    width: 3.7vw;
    height: 96vh;
    margin-top: -23em;
    background-color: black;
    box-shadow: 5px 5px 52px 10px;
}

#CWO {
    width: 376px;
    height: 500px;
}

footer {
    margin: 0;
    width: 100vw;
    background-color: black;
    box-shadow: 5px 5px 52px 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#black-bar {
    box-shadow: 5px 5px 52px 10px;
    border-color: black;
    border-width: 2.5em;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    margin-bottom: 0;
}

#Owen {
    width: 250px;
    justify-content: center;
    margin-top: -10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 5px 6px 52px 10px white;

}

#MainHead {
    margin-left: 1em;
    color: white;
    border: solid 4px;
    width: 179px;
    text-align: center;
    box-shadow: 5px 5px 52px 10px white;
}

#Socials {
    color: white;
    width: 50px;
}

#instagram {
    display: flex;
    width: 100px;
    height: 50px;
}

#link {
    width: 12px;
    height: min-content;
}

#ICWO {
    color: white;
    margin-top: -3em;
    font-size: 1.3rem;
}

#CWOI {
    width: 250px;
    height: 250px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(141, 141, 141);
    box-shadow: 5px 6px 52px 10px rgb(141, 141, 141);
}

.logo {
    width: 55px;
    height: 55px;
}

#gmail-logo {
    width: 75px;
    height: 75px;
    margin-left: -10px;
}


#lonk {
    justify-content: center;
    text-align: center;
    margin-left: 925px;
    box-shadow: 5px 5px 52px 10px;
    color: white;
}

#container-1 {
    width: 100vw;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#container-2 {
    width: 100vw;
    height: 30vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

footer:hover {
    transition: 2s;
    color: red;
}

#lonk:hover {
    transition: 2s;
    color: red;
}

#CWO {
    width: 250px;
    height: 250px;
}

#ZHP {
    background-color: white;
    width: 250px;
    height: 250px;
    flex-grow: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(141, 141, 141);
    box-shadow: 5px 6px 52px 10px rgb(141, 141, 141);

}

h3 {
    height: 10px;
    margin-top: -0px;
}

#AFM {
    flex: auto;
    width: 250px;
    height: 210px;
    border-width: 0px;
    margin-top: 11.5px;

}

#Lessons {
    align-items: flex-start;
    text-align: center;
    margin: 0;
    background-color: white;
    width: 250px;
    height: 225px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(141, 141, 141);
    box-shadow: 5px 6px 52px 10px rgb(141, 141, 141)
}

.projects {
    margin-top: 10em;
    align-items: center;
    justify-content: space-between;
}

#MbL {
    width: 240px;
}